Web/Properties/PublishProfiles/Release Pruebas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/developer/msbuild/2003" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="PropertyGroup">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" name="CopyAllFilesToSingleFolderForPackageDependsOn" type="xs:string" />
                <xs:element minOccurs="0" name="CopyAllFilesToSingleFolderForMsdeployDependsOn" type="xs:string" />
                <xs:element minOccurs="0" name="WebPublishMethod" type="xs:string" />
                <xs:element minOccurs="0" name="PublishProvider" type="xs:string" />
                <xs:element minOccurs="0" name="LastUsedBuildConfiguration" type="xs:string" />
                <xs:element minOccurs="0" name="LastUsedPlatform" type="xs:string" />
                <xs:element minOccurs="0" name="SiteUrlToLaunchAfterPublish" />
                <xs:element minOccurs="0" name="LaunchSiteAfterPublish" type="xs:string" />
                <xs:element minOccurs="0" name="ExcludeApp_Data" type="xs:string" />
                <xs:element minOccurs="0" name="publishUrl" type="xs:string" />
                <xs:element minOccurs="0" name="DeleteExistingFiles" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Target">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="ItemGroup">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="IncludeXmlFiles">
                        <xs:complexType>
                          <xs:attribute name="Include" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="FilesForPackagingFromProject">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="DestinationRelativePath" type="xs:string" />
                          </xs:sequence>
                          <xs:attribute name="Include" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Name" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="ToolsVersion" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>